# Домашнее задание по курсу Основы АД в МО. Функции в Python, модуль pandas
Во всех задачах разрешается заводить любые промежуточные переменные, не указанные в условии, которые вам могут понадобиться. Задание сдаётся в систему anytask.

## 1. (1 балл) [Панграммы](https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BD%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0)

Панграмма -- это строка, содержащая все буквы алфавита. Для упрощения ограничимся буквами [латинского алфавита](https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D0%B8%D1%82#%D0%A1%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9_%D0%BB%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D0%B8%D1%82).

Напишите функцию `is_pangram(text)`, которая
- принимает на вход строку, которая может содержать прописные, строчные буквы латинского алфавита, пробелы
- проверяет, является ли строка панграммой
    - если да, печатает слово `'pangram'`
    - иначе -- печатает символы алфавита, не вошедшие в строку

**Пример 1:**
```
In: is_pangram("The quick brown fox jumps over the lazy dog")
Out: pangram
```

**Пример 2:**
```
In: is_pangram("abCDe")
Out: fghijklmnopqrstuvwxyz
```

*Спойлеры: чтобы привести всю строку к одному регистру (т.е. сделать все буквы строчными или прописными), можно воспользоваться строковым методом `.lower()` или `.upper()` соответственно.*

In [1]:
def is_pangrama(text):
    string = text
    string= string.replace(" ","")
    string = string.replace(" ", "")
    x = list(set(string))
    x.sort()
    x = "".join(x)
    alphabets = "abcdefghijklmnopqrstuvwxyz"
    if (x == alphabets):
        print("The string is a pangram")
    else:
        a = list(set(alphabets) - set(string))
        for i in a:
            print(i, end=' ')
        print('\n', "The string isn't a pangram")

In [2]:
is_pangrama('abc')

g z p m v w j e s t r x o h q u l n d k f i y
 The string isn't a pangram

## 2. (2 балла) О велосипедах
Вам дана таблица с данными об аренде велосипедов. Подробное описание колонок можно почитать [здесь](https://archive.ics.uci.edu/ml/datasets/Bike%20Sharing%20Dataset#) (в исходном датасете некоторые величины отнормированы в отрезок $[0; 1]$, в нашей версии датасета -- нет).

В задании могут понадобиться следующие:
- `datetime`: дата аренды
- `season`: сезоны проката, разбиение примерно такое: 
    - 1: декабрь-февраль
    - 2: март-июнь
    - 3: июнь-август
    - 4: сентябрь-декабрь
- `workingday`: являлся ли день рабочим
    - 0: праздники или выходные
    - 1: обычный рабочий день
- `temp`: температура воздуха по Цельсию
- `cnt`: общее число обычных аренд и аренд по абонементу

Что надо сделать:
1. считать таблицу;
2. проверить её на наличие пропущенных значений и обработать пропуски;
3. вывести строки, содержащие информацию за летний и зимний сезон (значение поля `season` $3$ и $1$ соответственно);
4. вывести информацию о нерабочих днях, когда температура превышала $10$ градусов.

In [8]:
import pandas as pd

In [74]:
import pandas as pd
import pathlib
from pathlib import Path
work_path = pathlib.Path.cwd()
print(work_path)
data_path = Path(work_path,'datasets', 'hour.csv')

data = pd.read_csv(data_path)
data.head(10000)

C:\Users\ivanc\Notebook

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2012-02-26,1,1,2,12,0,0,0,1,0.30,0.3030,0.39,0.1343,49,256,305
9996,9997,2012-02-26,1,1,2,13,0,0,0,1,0.32,0.3333,0.36,0.0000,58,267,325
9997,9998,2012-02-26,1,1,2,14,0,0,0,1,0.34,0.3485,0.31,0.0000,68,263,331
9998,9999,2012-02-26,1,1,2,15,0,0,0,1,0.36,0.3485,0.29,0.0000,72,281,353
9999,10000,2012-02-26,1,1,2,16,0,0,0,1,0.36,0.3333,0.32,0.2537,64,275,339

In [38]:
data_without_nan = data.copy()
data_without_nan = data_without_nan.dropna(how='any')
data_without_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [54]:
data[(data['season']==1) | (data['season']==3)]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [76]:
data[(data['workingday']==0) & (data['temp']>0.1)]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17350,17351,2012-12-30,1,1,12,19,0,0,0,1,0.34,0.3636,0.61,0.0000,16,86,102
17351,17352,2012-12-30,1,1,12,20,0,0,0,1,0.22,0.1970,0.47,0.3284,9,63,72
17352,17353,2012-12-30,1,1,12,21,0,0,0,1,0.20,0.2121,0.51,0.1642,5,42,47
17353,17354,2012-12-30,1,1,12,22,0,0,0,1,0.20,0.1970,0.55,0.1940,6,30,36
17354,17355,2012-12-30,1,1,12,23,0,0,0,1,0.20,0.1970,0.51,0.2239,10,39,49